@import "tailwindcss";

@theme {
  --color-primary: #1DB954;
  --color-secondary: #fb923c;
  --color-background-light: #191414;
  --color-background-dark: #0a0f0c;
  --color-card-dark: #121212;
  
  --font-family-display: "Space Grotesk", sans-serif;
  
  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

body {
    font-family: var(--font-family-display);
    @apply text-white bg-background-dark;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

.gm-style-iw {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Google Maps InfoWindow Overrides */
.gm-style-iw-chr {
    height: 25px !important;
}
